<header>

  <div class="container">
    <a href="#" class="logo" >CoolApp</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/list">List</a></li>
        <li><a href="#" routerLink="/piechart">PieChart</a></li>
        <li><a href="#" routerLink="/chart">Chart</a></li>
        <li><a href="#" routerLink="/teams">Teams</a></li>
        <li><a href="#" routerLink="/roster">Roster</a></li>
        <li><a href="#" routerLink="/player">Player</a></li>
        <li><a href="#" routerLink="/addplayer/20">Add Player</a></li>
   </ul>
    
    </nav>
  </div>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
